.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'ProximaNova', sans-serif;
    min-width: 100px;
    line-height: 22px;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon{
    display: inline-block;
    width: 20px;
}

// Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary-color);
    border-color: var(--primary-color);

    &:hover {
        border-color: var(--primary-color);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }

}

.outline {
    color: var(--primary-color);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: #161823;
    border-radius: 2px;
    &:hover {
        background-color: rgba(22, 24, 35, .03);
    }
}

.basic{
    justify-content: flex-start;
    padding: 10px 8px 10px 16px;
    color: currentColor;
    margin-left: -8px;
    text-align: start;
    border-radius: 0;
    justify-self: start;
    font-weight: 500;

    &:hover{
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Disabled

// Button sizes
.small {
    line-height: 2.6rem;
    min-width: 88px;
    padding: 0px 10px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}