.search,
.search-result {
    width: 500px;
}

.search {
    display: flex;
    height: 46px;
    padding: 0 16px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    position: relative;
    border: 1.5px solid transparent;

    input {
        caret-color: var(--primary-color);
        flex: 1;
        height: 100%;
        color: var(--black-color);
        font-size: 1.6rem;
        background-color: transparent;
    }

    input:focus~.search-btn {
        background-color: rgba(22, 24, 35, 0.06);
        color: var(--text-color);
    }

    &::after {
        content: "";
        width: 1px;
        top: var(--search-top-spacer);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        right: var(--search-btn-width);
        position: absolute;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    cursor: default !important;
    font-size: 1.4rem;
    position: absolute;
    padding: 0;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--search-btn-width);
    height: 100%;
    margin-right: -16px;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.6rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
