.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    padding: var(--default-layout-padding);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: space-around;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search,
.search-result {
    width: 500px;
}

.search {
    display: flex;
    height: 46px;
    padding: 0 16px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    position: relative;
    border: 1.5px solid transparent;

    input {
        caret-color: var(--primary-color);
        flex: 1;
        height: 100%;
        color: var(--black-color);
        font-size: 1.6rem;
        background-color: transparent;
    }

    input:not(:placeholder-shown)~.search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: "";
        width: 1px;
        top: var(--search-top-spacer);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        right: var(--search-btn-width);
        position: absolute;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    padding: 0;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    margin-right: -16px;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.actions {}

.more-btn {
    font-size: 1.8rem;
    margin-left: 28px;
    padding: 2px 8px;
}

.more-btn:hover{
    animation: fadeOutAnimation 3s forwards;
}

//Menu Items

.menu-items {
    width: 224px;
    position: relative;
    margin-right: -20px;
}

.menu-items::after {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--white);
    position: absolute;
    top: -18px;
    right: 22px;
}