.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    padding: var(--default-layout-padding);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: space-around;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//Actions
.actions {
    display: flex;
    align-items: center;
}

.actions-icon {
    font-size: 1.4rem;
}

.more-btn {
    font-size: 1.8rem;
    margin-left: 28px;
    padding: 2px 8px;
}

.more-btn:hover {
    animation: fadeOutAnimation 3s forwards;
}

.actions-btn {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    margin-left: 16px;
    position: relative;
}

.badge {
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    font-family: 'ProximaNova', sans-serif;
    background-color: var(--primary-color);
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 24px;
    cursor: pointer;
}

//Menu Items

.menu-items {
    width: 224px;
    position: relative;
    margin-right: -20px;
}

.menu-items::after {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--white);
    position: absolute;
    top: -18px;
    right: 22px;
}